

/*table.jsGrid {
    
}*/

.jsGrid td, .jsGrid th {
    border: 1px solid #C7C7C7;
    padding: 3px 5px;
}

.jsGrid th {
    background-color: #49483E;
}



/* Print styles
-------------------------------------------------------------------------------*/
/*@media print {



}*/