



.tablified td, .tablified th {
    border: 1px solid #C7C7C7;
    padding: 3px 5px;
}

.tablified th {
    background-color: #49483E;
}



/* Print styles
-------------------------------------------------------------------------------*/
/*@media print {



}*/