



.tablified th, .tablified td {
    border: 1px solid #C7C7C7;
    padding: 3px 5px;
}

.tablified th {
    background-color: #49483E;
}

.tablified tfoot th, .tablified tfoot td {
    background-color: #49483E;
}

.tablified th, .tablified th .animationWrapper{
    font-weight: bold;
}

.tablified table:not(.tablified) th, .tablified table:not(.tablified) td{   /*Not-tablified tables within tablified tables*/
    border: inherit;
    padding: inherit;
    background-color: inherit;
}



/* Print styles
-------------------------------------------------------------------------------*/
/*@media print {



}*/